*.pyc
code/python/~$manifest_test.xlsx
.DS_Store
.synapseConfig
schematic_schemas/code/config.yml
credentials.json
schematic_service_account_creds.json
.Rproj.user
sysbioDCCjsonschemas.Rproj
.venv/*
schematic_schemas/code/service_account_creds.json
schematic_schemas/code/token.pickle
